<div id="<%= dom_id will %>">
  <p>
    <strong>User:</strong>
    <%= will.user_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= will.is_public %>
  </p>

  <p>
    <strong>Prepaid:</strong>
    <%= will.is_prepaid %>
  </p>

</div>
