<h1>Will Preview</h1>
<section class='testator'>
  <h2>Testator:</h2>
</section>
<section class='benficiaries'>
  <h2>Delegates</h2>
  <ul>
    <%= render partial: "delegates/delegate", collection: @delegates %>
  </ul>
</section>
<section class='assets'>
  <h2>Assets:</h2>
  <ul>
    <% @assets.each do |asset| %>
      <li>
        <h3><%= asset.asset_type %></h3>
        <h3><%= asset.title %></h3>
        <p><%= asset.description %></p>
      </li>
    <% end %>
  </ul>
</section>
