<p style="color: green"><%= notice %></p>

<h1>Wills</h1>

<div id="wills">
  <% @wills.each do |will| %>
    <%= render will %>
    <p>
      <%= link_to "Show this will", will %>
    </p>
  <% end %>
</div>

<%= link_to "New will", new_will_path %>
