<p style="color: green"><%= notice %></p>

<%= render @will %>

<div>
  <% if @will == current_user.will %>
    <%= link_to "Edit this will", edit_will_path(@will) %>
  <% end %>

  <%= link_to "Back to wills", wills_path %>

  
</div>
