<div>
  <%= render @will %>
</div>
<div>
  <% if @will == current_user.will %>
    <%= link_to "Edit this will", edit_user_will_path(current_user, @will) %>
    <br/>
    <%= link_to "Prepay for this Will", checkout_path %>
  <% end %>
</div>