<div class="min-h-full flex flex-col justify-center py-5 px-3 sm:px-0">
  <% if @delegates.empty? %>
    <%= render "no_delegates" %>
  <% else %>
    <%= render "list_delegates" %>
  <% end %>
</div>