<%= turbo_frame_tag "property_section" do %>
<div class="flex items-center">
  <div class="flex-auto">
    <h1 class="text-xl font-semibold text-gray-900">properties</h1>
    <p class="mt-2 text-sm text-gray-700">A list of all your properties.</p>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 flex-none">
    <%= link_to "Add property", new_user_will_property_path, data: { turbo_frame: "model" }, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"%>
  </div>
</div>
<ul id="properties" role="list" class="relative mt-5 grid grid-cols-1 gap-6 sm:grid-cols-1 lg:grid-cols-2">
  <%= render @properties %>
</ul>
<% end %>