<%= turbo_frame_tag "#{dom_id(@testator)}_item" do %>
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Testator Information</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details.</p>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
        <%= link_to "Edit Testator", edit_user_will_testator_path(current_user), data: { turbo_frame: "model" }, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Full name</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @testator.full_name %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @testator.address.full_address %></dd>
      </div>
    </dl>
  </div>
</div>
<% end %>
