<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Will:</strong>
    <%= subscription.will_id %>
  </p>

  <p>
    <strong>Is payed:</strong>
    <%= subscription.is_payed %>
  </p>

</div>
