<main class="container">
  <%= link_to sanitize("&larr; Back to asset"), user_will_asset_path(current_user, @asset) %>

  <div class="header">
    <h1>Edit asset</h1>
  </div>

  <%= turbo_frame_tag @asset do %>
    <%= render "form", asset: @asset %>
  <% end %>
</main>
