<div class="container">
  <div class="header">
    <h1>Assets</h1>
    <%= link_to "New asset",
                new_user_will_asset_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Asset.new) } %>
  </div>

  <%= turbo_frame_tag Asset.new %>

  <%= turbo_frame_tag "assets" do %>
    <%= render @assets %>
  <% end %>
</div>