<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @will.testator %></h1>
    <p>
      We are informing you that your will has been released by <%= @will.releaser.name %>.
    </p>
    <p>
      If your will has been released early, please consider changing who can release your will.
    </p>
    <p>
      You can unrelease your will by loging into your account and updating your will.
    </p>
  </body>
</html>