<div class="relative mt-20 min-h-full flex flex-col justify-center py-5 px-3 sm:px-0">
  <div class="bg-white rounded-lg">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-lg font-semibold text-indigo-600">Payment</h2>
        <p
          class="mt-1 text-4xl tracking-tight font-bold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl lg:tracking-tight">
          Take control of your future.</p>
        <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Pay to download the PDF version of your will. Paying also
          gives you access to all future features of Surewill.</p>
        </p>
      </div>
      <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
        <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-1 sm:gap-5">
          <%= render partial: 'pay/stripe/checkout_button', locals: {
            session: @checkout_session,
            title: "Payment"
          } %>
         </div>
      </div>
    </div>
  </div>
</div>


<%= link_to "No thanks", user_will_path(current_user) %>